.popup__close-photo{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: -6%;
    transition: opacity 1s ease;
    border: none;
    background-image: url(../../../image/Close-Icon.png);
    background-color: rgba(0,0,0,0);
    background-size: cover;
    
}
.popup__close-photo:hover{
    cursor: pointer;
    opacity: .6;
}
@media screen and (min-width:637px) and (max-width:100vw) {

    .popup__close-photo{
        width: 32px;
        height: 32px;
        right: -10%;
        top: -8%;
    }

}