.photo__item-title {
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    display: inline-block;
    margin: 0;
    color: #000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}