.profile__avatar {
    padding-bottom: 22px;
}
@media screen and (min-width:637px) and (max-width:100vw) {

    .profile__avatar{
        padding-bottom: 0;
        grid-column: 1;
        grid-row: 1;
    }

}
