.footer {
    width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
}

@media screen and (min-width:637px) and (max-width:930px) {
    .footer {
        width: 581px;
        padding-top: 66px;
        padding-bottom: 60px;
    }

}
@media screen and (min-width:931px) and (max-width:100vw) {
    .footer {
        width: 880px;
        padding-top: 66px;
        padding-bottom: 60px;
    }

}